<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
    </ol>
  </nav>

<div class="px-4 py-2 my-2 text-center">
    <h1 class="display-5 fw-bold">Contact Us</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">We are a tech solution that farmers can use to browse empty Warehouses in their locality and book slots and Warehouse owners can also maximize their profit by allocating empty Warehouses.</p>
        <p>Address: FarmHome.pvt.Ltd,Sitapura,Jaipur </p>
    </div>
</div>

<div  class="row justify-content-center">


    <div class="col-8">

        <form action="/register-user" enctype="multipart/form-data" method="POST">

            <div class="row g-3">
                <div class="col-12">
                    <label for="'email" class="form-label">Your Email</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>

                <div class="col-12">
                    <label for="password" class="form-label">Message</label>
                    <input type="text" name="email" id="password" class="form-control" required>
                </div>

                <div class="col-12">
                    <button type="login" class="btn btn-outline-secondary">Send</button>
                </div>

                
            </div>
            <br><br>
        </form>
        <div class=" col-15 align-items-center">
            <button type="link" class="btn btn-primary">Facebook</button>
            <button type="link" style = "color: mediumvioletred;" class="btn btn-outline-secondary">Instagram</button>
            <button type="link" style = "color: rgb(253, 43, 43)" class="btn btn-outline-secondary">Twitter</button>
        </div>

    </div>
</div>
