<div class="px-4 py-5 text-center">
    <h1 class="display-5 fw-bold">Submit Query</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">Submit the items you want to store.</p>
    </div>
</div>


<div class="row justify-content-center">

    <% if(infoSubmitObj !='' ) { %>
        <div class="col-8 alert alert-success" role="alert">
            <%= infoSubmitObj %>
        </div>
    <% } %>

        <% if(infoErrorsObj !='' ) { %>
            <div class="col-8 alert alert-danger" role="alert">
                <%= infoErrorsObj[0].message %>
            </div>
    <% } %>

    <div class="col-8">
    
        <form action="/submit-recipe" enctype="multipart/form-data" method="POST">
    
            <div class="row g-3">

                <div class="col-12">
                    <label for="'name" class="form-label">Name</label>
                    <input type="text" name="companyName" id="companyName" class="form-control" required>
                </div>

                <div class="col-12">
                    <label for="'email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>
    
                <div class="col-12">
                    <label for="date" class="form-label">Submission Date</label>
                    <input type="date" name="date" id="date" class="form-control" required>
                </div>
    
                <div class="col-12">
                    <label for="items" class="form-label">Items</label>
                    <small>Example: Wheat 50KG</small>
                    <div class="itemsList">
                        <div class="itemsDiv mb-1">
                            <input type="text" name="items" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <button type="button" class="btn btn-outline-primary" id="addItemsBtn">+ Items</button>
                </div>
    
                <div class="col-12">
                    <label for="category">Select Category</label>
                    <select class="form-select form-control" name="category" aria-label="Category">
                        <option selected>Select Category</option>
                        <option value="Grains">Grains</option>
                        <option value="Legumes">Legumes</option>
                        <option value="Vegetables">Vegetables</option>
                        <option value="Fruits">Fruits</option>
                        <option value="Dairy">Dairy</option>
                    </select>
                    <br><br>
                </div>

                
                
                <div class="col-12">
                    <button type="submit" class="btn btn-primary mb-4">Submit Item</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- States Start-->


<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>States</h2>
        <a href="/categories" class="ms-auto">View More</a>
    </div>
    <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
        <a href="/rajasthan" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/Rajasthan.jpg" alt="Rajasthan" Loading="lazy">
            </div>
            <div class="pt-1">Rajasthan</div>
        </a>

        <a href="/up" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/Uttar-pradesh-map.jpg" alt="Uttar Pradesh" Loading="lazy">
            </div>
            <div class="pt-1">Uttar Pradesh</div>
        </a>

        <a href="/punjab" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/punjab.jpg" alt="Punjab" Loading="lazy">
            </div>
            <div class="pt-1">Punjab</div>
        </a>

        <a href="/gujrat" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/gujrat.jpg" alt="Gujrat" Loading="lazy">
            </div>
            <div class="pt-1">Gujrat</div>
        </a>

        <a href="/maharashtra" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/Maharashtra.jpg" alt="Maharashtra" Loading="lazy">
            </div>
            <div class="pt-1">Maharashtra</div>
        </a>

        <a href="/categories" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="img/india.jpg" alt="View All States" Loading="lazy">
            </div>
            <div class="pt-1">Over All</div>
        </a>
    </div>
</section>
<!-- States End -->